###Files to not track (large data files and any pycache)

###SPT-SZ Combined Map Files
data/combined_map_95GHz_nside8192_ptsrcmasked_50mJy.fits
data/combined_map_150GHz_nside8192_ptsrcmasked_50mJy.fits
data/combined_map_220GHz_nside8192_ptsrcmasked_50mJy.fits
data/alm_combined_data_95GHz_ptsrcmasked_50mJy.fits
data/alm_combined_data_150GHz_ptsrcmasked_50mJy.fits
data/alm_combined_data_220GHz_ptsrcmasked_50mJy.fits

###SPT Masks
data/mask_nside8192_bdry.fits
data/mask_nside8192_ptsrc_50mJy.fits

###Example Catalog
data/2500d_cluster_sample_Bocquet19.fits

###Healpy pixel weights
data/full_weights/healpix_full_weights_nside_2048.fits
data/full_weights/healpix_full_weights_nside_8192.fits

###ACT products
data/act_dr5.01_auxilliary/
data/act_planck_dr5.01_s08s18_AA_f090_daynight_fullivar.fits
data/act_planck_dr5.01_s08s18_AA_f150_daynight_fullivar.fits
data/act_planck_dr5.01_s08s18_AA_f220_daynight_fullivar.fits
data/act_planck_dr5.01_s08s18_AA_f090_daynight_map_srcfree.fits
data/act_planck_dr5.01_s08s18_AA_f150_daynight_map_srcfree.fits
data/act_planck_dr5.01_s08s18_AA_f220_daynight_map_srcfree.fits

###Planck CMB Map(s)
data/COM_CMB_IQU-smica-nosz_2048_R3.00_full.fits

###Generated data from map_processing.ipynb
data/SMICAnoSZ_alm.fits
data/spt_95GHz_minus_SMICAnoSZ_2.10fwhm_alm.fits
data/spt_150GHz_minus_SMICAnoSZ_2.10fwhm_alm.fits
data/spt_220GHz_minus_SMICAnoSZ_2.10fwhm_alm.fits


###pycaches just to be safe
./__pycache__/
/.ipynb_checkpoints/

###analysis_code 
analysis_code/__pycache__/

###stacking_code
stacking_code/__pycache__/
